/* login.css */

.bg-custom {
    background-color: #0a2318 !important;
}


.login-card {
    border-radius: 1rem;
}

.login-img {
    border-radius: 1rem 0 0 1rem;
}

.icon-custom {
    color: #ffc800;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.text-custom {
    color: #393f81;
}

.btn-custom {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    width: 100%;
    max-width: 550px;
    background-color: #ffc800 !important;
    border-color: #ffc800 !important;
    color: white;
    font-weight: 700;
    padding: 12px 24px;
    margin: 0 auto;
    display: block;
}

    .btn-custom:hover {
        background-color: #e6b800 !important;
        border-color: #e6b800 !important;
        color: white;
    }

 