@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Usa el layout principal
    ViewData["Title"] = "Bienvenido a ExpressTour";
}

<h1>@ViewData["Title"]</h1>
<p>Explora los mejores paquetes turísticos con nosotros.</p>